/* 初始化 */

body,
html {
    padding: 0;
    margin: 0;
    font: 14px/1.5 "Microsoft YaHei", "SourceHanSansCN-Normal, SourceHanSansCN", "PingFang SC";
    color: #3c3c3c;
    background-color: #fff;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p,
button,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
}

a {
    color: #000;
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
    list-style-type: none;
}

img {
    vertical-align: middle;
    border: 0;
}

i {
    font-style: normal;
}

button {
    outline: none;
    border: 0;
}

textarea,
input {
    /* outline-color: #1ADE7B; */
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}


/* start--文本行数限制--start */

.c-line-1 {
    -webkit-line-clamp: 1;
}

.c-line-2 {
    -webkit-line-clamp: 2;
}

.c-line-3 {
    -webkit-line-clamp: 3;
}

.c-line-4 {
    -webkit-line-clamp: 4;
}

.c-line-5 {
    -webkit-line-clamp: 5;
}

.c-line-1,
.c-line-2,
.c-line-3,
.c-line-4,
.c-line-5 {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* end--文本行数限制--end */


/* 版心 1200px */
.w1200 {
    margin: 0 auto;
    width: 1200px;
}

.container {
    width: 100%;
    /* margin-top: 88px; */
    background: #f4f5f7;
    padding-bottom: 40px;
}

/* 侧边栏 */
.sidebar {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px#dfdfdf;
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
}

.sidebar p {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
}

.sidebar img {
    width: 100px;
    height: auto;
}